# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\adynxps\OneDrive\University Files\Extracurricular Activities\UTAT\FINCH\Payload Systems\Optics\Optics\SNR_v1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
