# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\adynxps\OneDrive\University Files\Extracurricular Activities\UTAT\FINCH\Payload Systems\Systems Topics\SNR_Analysis\Optics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
